@import "tailwindcss";

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
  font-variant-numeric: slashed-zero;
}

html {
  -webkit-touch-callout: none;
  -webkit-user-select: text;
}

a[href^="tel"],
a[href^="mailto"],
a[href^="sms"],
a[href^="maps"],
a[href^="geo"],
a[href^="address"] {
  text-decoration: none !important;
  color: inherit !important;
}

*::-webkit-scrollbar {
  display: none;
}

::selection {
  background-color: #000000;
}

@theme {
  --font-egyptian: "Egyptian", sans-serif;
  --font-alpina-thin: "GT Alpina Thin", serif;
  --font-alpina-italic: "GT Alpina Thin Italic", serif;
  --font-alpina-typewriter: "GT Alpina Typewriter", monospace;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-black: #101010;
  --color-white: #ffffff;

  --font-size-sm: 12px;
  --line-height-sm: 12px;

  --font-size-base: 18px;
  --line-height-base: 20.7px;

  --font-size-lg: 28px;
  --line-height-lg: 30.8px;

  --font-size-xl: 48px;
  --line-height-xl: 48px;

  --color-brown-1: #392114;
  --color-bronze-1: #ae6728;
}

@layer utilities {
  .ordinal-suffix {
    font-size: 70%;
    position: relative;
  }

  .site-grid {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: 20px;
  }

  .text-sm {
    font-size: var(--font-size-sm);
    line-height: var(--line-height-sm);
  }

  .text-base {
    font-size: var(--font-size-base);
    line-height: var(--line-height-base);
  }

  .text-lg {
    font-size: var(--font-size-lg);
    line-height: var(--line-height-lg);
  }

  .text-xl {
    font-size: var(--font-size-xl);
    line-height: var(--line-height-xl);
  }

  @media (min-width: 768px) {
    .md\:text-sm {
      font-size: var(--font-size-sm);
      line-height: var(--line-height-sm);
    }

    .md\:text-base {
      font-size: var(--font-size-base);
      line-height: var(--line-height-base);
    }

    .md\:text-lg {
      font-size: var(--font-size-lg);
      line-height: var(--line-height-lg);
    }

    .md\:text-xl {
      font-size: var(--font-size-xl);
      line-height: var(--line-height-xl);
    }
  }
}
